header {
  width: 480px;
  height: 75px;
  background-color: slateblue;
  line-height: 75px;
}
aside {
  width: 480px;
  height: 150px;
  line-height: 150px;
  background-color: tomato;
}
#main1 {
  background-color: wheat;
}
#main2 {
  background-color: teal;
}
main div{
  float: left;
  width: 480px;
  height: 125px;
  line-height: 125px;
}
article {
  clear: both;
}
article div {
  width: 480px;
  height: 250px;
  line-height: 250px;
}
article div div {
  display: block;
  float: left;
  width: 240px;
  height: 250px;
  line-height: 250px;
  margin: auto;
}
#article1 {
  background-color: blue;
}
#article2 {
  background-color: red;
}
#article3 {
  background-color: green;
}
#article4 {
  background-color: yellow;
}
footer {
  width: 480px;
  height: 80px;
  line-height: 80px;
  background-color: slategray;
}

@media screen and (min-width: 481px) {
  header {
    width: 960px;
    height: 100px;
    background-color: tomato;
    line-height: 100px;
  }
  aside {
    float: left;
    width: 200px;
    height: 600px;
    line-height: 600px;
    background-color: wheat;
  }
  #main1 {
    background-color: teal;
  }
  #main2 {
    background-color: blue;
  }
  main{
    float: left;
    width: fit-content;
    height: fit-content;
  }
  main div{
    float: left;
    width: 380px;
    height: 200px;
    line-height: 200px;
  }
  
  article {
    clear: none;
    height: fit-content;
    width: fit-content;
    float: left;
  }
  article div {
    float: left;
    width: fit-content;
    height: fit-content;
  }
  article div div {
    display: block;
    float: left;
    width: 190px;
    height: 250px;
    line-height: 250px;
  }
  #article1 {
    background-color: red;
  }
  #article2 {
    background-color: green;
  }
  #article3 {
    background-color: yellow;
  }
  #article4 {
    background-color: slategray;
  }
  footer {
    display: inline-block;
    float: left;
    width: 760px;
    height: 150px;
    line-height: 150px;
    background-color: slateblue;
  }
}
@media screen and (min-width: 769px) {
  header {
    background-color: wheat;
  }
  aside {
    background-color: teal;
  }
  #main1 {
    background-color: blue;
  }
  #main2 {
    background-color: red;
  }
  #article1 {
    background-color: green;
  }
  #article2 {
    background-color: yellow;
  }
  #article3 {
    background-color: slategray;
  }
  #article4 {
    background-color: slateblue;
  }
  footer{
    background-color: tomato;
  }
}